@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

body {
  background-color: slategray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  font-family: 'CircularStd', sans-serif;
  grid-template-areas:
    "Cabecalho Cabecalho Cabecalho"
    "Section Section Article1"
    "Section Section Article2"
    "Footer Footer Footer";
  height: 60vh;
  text-align: center;
}

header {
  grid-area: Cabecalho;
  border: 1px solid #2F4F4F;
  background-color: #77b1b1;
  opacity: 1;
}

header h1 {
  color: whitesmoke;
    font-size: large;
}

header p {
  color: #f5f5f5;
  font-size: medium;
}

.articles {
 /* opacity: 0.5; */
}

#article-1 {
  grid-area: Article1;
  border: 1px solid #2F4F4F;
  background-color: #2F4F4F;
}

#article-2 {
  grid-area: Article2;
  border: 1px solid #2F4F4F;
  background-color: #2F4F4F;
}

section {
  grid-area: Section;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  opacity: 1;
}

section h1 {
  color: rgb(107, 72, 70);
  font-size: 30px;
}

section h2 {
  color: whitesmoke;
  font-style: inherit;
}

section div {
  background-color: rgb(107, 72, 70);
  border: 1px dashed whitesmoke;
}

section div p {
  color: whitesmoke;
}


footer {
  grid-area: Footer;
  border: 1px solid #000;
  background-color: #000;
  opacity: 1;
}

footer p {
  color: #fff;
}

footer a {
  color: aquamarine
}

